body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.user-container {
   min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-form {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
}
.user-form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
}
.user-form .input {
  width: 90%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.user-btn {
  width: 45%;
  background-color: #e52c4b;
  color: white;
  padding: 10px;
  margin-left: 140px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.user-btn:hover {
  background-color: rgb(255, 179, 179);
  color: #000;
}

.user-container p {
  color: #000;
  font-size: 17px;
  margin-left: 130px;
}
.user-login {
  text-align: center;
  margin-top: 16px;
  color: #e52c4b;
  font-size: 20px;
  text-decoration: none;
}
.user-login:hover {
  color: rgb(255, 128, 128);
}


.your-pages {
  padding: 25px;
}
.your-pages h1 {
  font-size: 27px;       
  font-weight: 700;        
  margin-bottom: 16px;    
}


.dashboard-container {
  padding: 32px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.pages-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.pages-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid rgb(255, 128, 128);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.pages-nav a:hover {
  background-color: rgb(255, 179, 179);
  color: #fff;
}
.logout-button {
  background-color: #e52c4b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.logout-button:hover {
  background-color: rgb(255, 179, 179);
  color: #000;
}


.budget-form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 16px;
}
.budget-form input,
.budget-form select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 120px;
}


.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
}
.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.page-container {
  padding: 18px;
  
}
.page-container h2 {
  font-size: 28px;
  font-weight: 600;
  font-style:italic;
  text-align: center;
  margin-bottom: 100px;
  text-decoration: overline;
}
.card-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
  margin-left: 80px;
}
.card {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 200px;
}
.card-actions {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
.btn {
  padding: 0.5rem 1rem;
  background: rgb(255, 128, 128);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}
.add-btn {
  padding: 10px 20px;
  background: rgb(255, 204, 204);
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 100px;
}
.add-btn:hover {
  background-color: #e52c4b;
  color: white;
}
.btn:hover {
  background-color: rgb(255, 204, 204);
  color: #000;
}
.btn-delete {
  background: #dc3545;
}

.btn-delete:hover {
  background: #c82333;
}



.page-nav h2 {
  font-size: 28px;
  font-weight: 600;
  font-style:italic;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: overline;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.analytics-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-trans {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 70%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-select {
  width: 86%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.modal-btn {
  padding: 8px 16px;
  background: rgb(128, 179, 255);
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}
.modal-btn:hover {
  background-color: rgb(26, 117, 255);
  color: white;
}
.input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
 .back-btn {
  padding: 6px 14px;
  background-color: rgb(255, 128, 128);
  color: white;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.back-btn:hover {
  background-color: rgb(255, 204, 204);
  color: #000;
}
.btn-delete {
  background-color: #dc3545;
  color: white;
}
canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;

}